<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MonAmogus{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1><a href="/" style="text-decoration:none;color:inherit;">MonAmogus</a></h1>
      {% block header %}{% endblock %}
    </div>
  </header>

  <main class="site-main container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">MonAmogus MVP — мониторинг доступности сервисов.</div>
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
